*-defense.json
*defenses-cla.json
*defenses-ble.json
*defenses.json
device-id-defenses-ble.json
device-id-defenses-cla.json
action-id-diabetesm-def.json
action-id-wearables-def.json
app-id-huaweiwatch-def.json